DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

ALLOWED_HOSTS=example1.com, example2.com
INTERNAL_IPS=example1.com, example2.com

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

PYTHONDONTWRITEBYTECODE=1
PYTHONUNBUFFERED=1

UWSGI_PROCESSES=1
UWSGI_THREADS=16
UWSGI_HARAKIRI=240

DJANGO_SETTINGS_MODULE='example.settings'

DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin

DEBUG=False

SWAGGER_JSON=/swagger.yaml

SECRET_KEY=

RUN_TRANSFER_DATA_FROM_SQLITE=True
RUN_TRANSFER_DATA_FROM_SQLITE_TESTS=True